@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
body {
	background-position: top;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#widget{
	position: absolute;
    bottom:19em;
    right: 3em;
	height:auto;
}
#footer { 
	clear: both;
	width:100%;
	height:auto;
	position:absolute;
	bottom:80;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

#footer p{
	text-align: center;
	color:#808080;
	font-size:30px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.1;
}
#footer ul{
	list-style-type: none;
	text-align: center;
}
#footer ul li{
	text-align: center;
	display: inline-block;
	}
#footer ul li a{
	text-align: center;
	text-decoration: none;
	display: inline;
	margin-left: 20;
	margin-right: 20;
	float: inherit;
	width: 4em;
	color:#33CCFF;
	font-size:26px;
	font-family: 'Open Sans', Arial, sans-serif;}
#footer ul:hover{
color: #66CCFF;}